.feedback-form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-left: 50px;
}

.form-label {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 8px;
}

input[type="email"] {
    width: 360px;
    height: 40px;
}

textarea[name="message"] {
    width: 360px;
    height: 80px;
}

button[type="submit"] {
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;

    background-color: #4e75ff;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #6c8cff;
}